---
import PolicyPlaceholder from '@/components/common/PolicyPlaceholder.astro';
import { createLocalizedPageMetadata } from '@/i18n/page-metadata';
import { getPageContext, getStaticPathsForLocale } from '@/i18n';
import PublicLayout from '@/layouts/PublicLayout.astro';

export const getStaticPaths = getStaticPathsForLocale;

const { locale, t } = getPageContext(Astro);
const currentPath = Astro.url.pathname;
---

<PublicLayout
	locale={locale}
	currentPath={currentPath}
	t={t}
	showCategoryNav={false}
	seo={createLocalizedPageMetadata(
		locale,
		currentPath,
		t('prohibitedProducts.metaTitle'),
		t('prohibitedProducts.metaTitle'),
	)}
>
	<PolicyPlaceholder title={t('prohibitedProducts.title')} t={t}>
		<p>{t('common.legalReviewPending')}</p>
	</PolicyPlaceholder>
</PublicLayout>
